{
    "root": true,
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module",
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "env": {
        "es6": true,
        "browser": true,
        "node" :true
    },
    "globals": {
        "process.env": true,
        "import":true
    },
    "extends": "eslint:recommended",
    "plugins": ["html"],
    "rules": {
        "no-console": "off"
    }
}